IO_LOC  "segmentEnableOut[7]" 25;
IO_PORT "segmentEnableOut[7]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "segmentEnableOut[6]" 26;
IO_PORT "segmentEnableOut[6]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "segmentEnableOut[5]" 27;
IO_PORT "segmentEnableOut[5]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "segmentEnableOut[4]" 28;
IO_PORT "segmentEnableOut[4]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "segmentEnableOut[3]" 29;
IO_PORT "segmentEnableOut[3]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "segmentEnableOut[2]" 30;
IO_PORT "segmentEnableOut[2]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "segmentEnableOut[1]" 33;
IO_PORT "segmentEnableOut[1]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "segmentEnableOut[0]" 34;
IO_PORT "segmentEnableOut[0]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "digitEnableOut[3]" 38;
IO_PORT "digitEnableOut[3]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "digitEnableOut[2]" 37;
IO_PORT "digitEnableOut[2]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "digitEnableOut[1]" 36;
IO_PORT "digitEnableOut[1]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "digitEnableOut[0]" 39;
IO_PORT "digitEnableOut[0]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "resetIn" 4;
IO_PORT "resetIn" IO_TYPE=LVCMOS18;

IO_LOC  "clkIn" 52;
IO_PORT "clkIn" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ledOut" 10;
IO_PORT "ledOut" DRIVE=8 IO_TYPE=LVCMOS18;
